[submodule "vimfiles/vundle.git"]
	path = vimfiles/vundle.git
	url = https://github.com/gmarik/vundle.git
[submodule "zshfiles/auto-fu.zsh"]
	path = zshfiles/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "zshfiles/z"]
	path = zshfiles/z
	url = git@github.com:rupa/z.git
